*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(221, 212, 201);
}

.all-block{
    display: block;
    width: 850px;
    border: 8px double rgb(153, 133, 106);
    border-radius: 30px;
    margin: 100px auto;
    padding: 50px;
}

h2{
    margin: 0 0 15px 0;
}

.img-block{
    float: left;
    border: 2px solid rgb(163, 149, 129);
    border-radius: 10px;
    padding: 10px;
    width: 300px;
    margin: 0 30px 30px 0;
    background-color: rgb(184, 164, 149);
}

.meerkat{
    border-radius: 10px;
    width: 300px;
}

h3{
    margin: 50px 0 0 0;
}

.p-clear{
    clear: left;
}

p{
    text-align: justify;
    line-height: 1.8;
}